<nav class="navbar navbar-ligth bg-dark">
    <a class="navbar-brand" href="/">
        <img id="logo" src="/img/logo.png">
    </a>
</nav>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/" role="tab" aria-controls="nav-home" aria-selected="false">Perguntas</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/perguntar" role="tab" aria-controls="nav-profile" aria-selected="false">Perguntar</a>
    </div>
</nav>
<br>